:root {
  --ffe-deep-pine: #243027;
  --ffe-pine: #344236;
  --ffe-moss: #6e7751;
  --ffe-sage: #a8ae91;
  --ffe-clay: #a56543;
  --ffe-sand: #e8ddca;
  --ffe-cream: #f7f1e7;
  --ffe-charcoal: #1d211d;
}
